/* Google Font CDN Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*:not(.description) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}


/* *::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

* {
    -ms-overflow-style: none;
}
 */


/* Custom Scroll Bar CSS */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}


/* navbar styling */

nav {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    z-index: 998;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
}

nav.sticky {
    background: #4070f4;
    padding: 13px 0;
}

nav .navbar {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

nav .navbar .logo a {
    font-weight: 500;
    font-size: 35px;
    color: #4070f4;
}

nav.sticky .navbar .logo a {
    color: #fff;
}

nav .navbar .menu {
    display: flex;
    position: relative;
}

nav .navbar .menu li {
    list-style: none;
    margin: 0 16px;
}

.navbar .menu a {
    font-size: 18px;
    font-weight: 500;
    color: #0E2431;
    padding: 6px 0;
    transition: all 0.4s ease;
}

.navbar .menu a:hover {
    color: #4070f4;
}

nav.sticky .menu a {
    color: #FFF;
}

nav.sticky .menu a:hover {
    color: #0E2431;
}

.navbar .media-icons a {
    color: #4070f4;
    font-size: 18px;
    margin: 0 6px;
}

nav.sticky .media-icons a {
    color: #FFF;
}

nav .media-icons a .icons {
    font-size: 2.5rem;
    margin: 0 0.5rem;
}


/* nav.sticky .media-icons  */


/* Side Navigation Menu Button CSS */

nav .menu-btn,
.navbar .menu .cancel-btn {
    position: absolute;
    color: #fff;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
}

nav .menu-btn {
    color: #4070f4;
}

nav.sticky .menu-btn {
    color: #FFF;
}

.navbar .menu .menu-btn {
    color: #fff;
}


/* home section styling */

.home {
    height: 100vh;
    width: 100%;
    background: url("images/background.jpeg") no-repeat;
    background-size: contain;
    background-position: right;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    background-color: #fff;
}

.home .home-content {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .home-content .text {
    width: 60%;
}

.home .text-one {
    font-size: 25px;
    color: #0E2431;
}

.home .text-two {
    color: #0E2431;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .text-three {
    font-size: 40px;
    margin: 5px 0;
    color: #4070f4;
}

.home .text-four {
    font-size: 23px;
    margin: 5px 0;
    color: #0E2431;
}

.buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.button {
    margin-top: 20px;
}

.buttons .button {
    margin: 20px 10px;
}

.button:first-child {
    margin-left: 0;
}

.button a {
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 400;
    background: #4070f4;
    color: #fff;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.button a:hover {
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
}


/* About Section Styling */


/* Those Elements Where We Have Apply Same CSS,
 I'm Selecting Directly 'Section Tag' and 'Class'  */

section {
    padding: 40px 0;
}

section .content {
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;
}

.about .about-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span {
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #4070f4;
    left: 0;
    bottom: 0;
}

section .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.about .about-details .left {
    width: 35%;
}

.about .left img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 12px;
}

.about-details .right {
    width: 65%;
}

section .topic {
    color: #0E2431;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-details .right p {
    text-align: justify;
    color: #0E2431;
}


/* My Skills CSS */

.skills {
    background: #F0F8FF;
}

.skills .content {
    padding: 40px 0;
}

.skills .skills-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.skills-details .text {
    width: 50%;
}

.skills-details p {
    color: #0E2431;
    text-align: justify;
}

.skills .skills-details .experience {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    text-align: center;
}

.skills-details .experience .num {
    color: #0E2431;
    font-size: 80px;
}

.skills-details .experience .exp {
    color: #0E2431;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 6px;
}

.skills-details .boxes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.skills-details .box {
    width: 20%;
    min-width: 230px;
}

.skills-details .boxes .topic {
    font-size: 20px;
    color: #4070f4;
}

.skills-details .boxes .skillImg {
    width: 230px;
    height: 230px;
    background-image: url("./Images/html.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
}

.skills-details .boxes .skillImg.css {
    background-image: url("./images/css.png");
    background-size: cover;
}

.skills-details .boxes .skillImg.javascript {
    background-image: url("./Images/javascript.png");
}

.skills-details .boxes .skillImg.jquery {
    background-image: url("./Images/jquery.png");
}

.skills-details .boxes .skillImg.sass {
    background-image: url("./Images/sass.png");
}


/* Work Ex CSS */

.carousel {
    position: relative;
    height: 520px;
    width: 50%;
    margin: 0 auto;
}

.carousel__track-container {
    position: relative;
    background: #fff;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.carousel__track {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: transform ease-in 250ms;
}

.carousel__slide {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    height: fit-content;
}

.carousel__section {
    width: 100%;
    height: auto;
    border: 2px solid #4070f4;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__section .companyName {
    font-size: 2rem;
    font-weight: bold;
    color: #4070f4;
}

.carousel__section .role {
    font-size: 1.5rem;
    color: #4070f4;
}

.carousel__section .duration {
    font-size: 1rem;
    color: #4070f4;
    font-style: italic;
}

.carousel__section .description {}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button i {
    font-size: 2em;
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 12px;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background: rgba(0, 0, 0, 0.75);
}

.hidden {
    display: none;
}


/* Contact Me CSS */

.contact {
    background: #F0F8FF;
}

.contact .content {
    margin: 0 auto;
    padding: 30px 0;
}

.contact .text {
    width: 80%;
    text-align: center;
    margin: auto;
}

.contact button {
    color: #fff;
}

.contact button a {
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 400;
    background: #4070f4;
    color: #fff;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}

.contact .button button:hover,
.contact .button button a:hover {
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
    transition: all 0.4s ease;
}


/* Footer CSS */

footer {
    background: #4070f4;
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

footer .text span {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}

footer .text span a {
    font-weight: 500;
    color: #FFF;
}

footer .text span a:hover {
    text-decoration: underline;
}


/* Scroll TO Top Button CSS */

.scroll-button a {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: #4070f4;
    padding: 7px 12px;
    ;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
}


/* Responsive Media Query */

@media (max-width: 1190px) {
    section .content {
        width: 85%;
    }
    .about .about-details {
        justify-content: center;
        flex-direction: column;
    }
    .about .about-details .left {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-details .right {
        width: 90%;
        margin: 40px 0;
    }
    .services .boxes .box {
        margin: 20px 0;
        width: calc(100% / 2 - 20px);
    }
    .about .left img {
        height: 350px;
        width: 350px;
    }
    nav .navbar {
        width: 90%;
    }
    nav .navbar .menu {
        position: fixed;
        left: -100%;
        top: 0;
        background: #0E2431;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease;
    }
    .navbar.active .menu {
        left: 0;
    }
    nav .navbar .menu a {
        font-size: 23px;
        display: block;
        color: #fff;
        margin: 10px 0;
    }
    nav.sticky .menu a:hover {
        color: #4070f4;
    }
    nav .navbar .media-icons {
        margin: 0 auto;
    }
    nav .menu-btn,
    .navbar .menu .cancel-btn {
        display: block;
    }
    .home .text-two {
        font-size: 65px;
    }
    .home .text-three {
        font-size: 35px;
    }
    .skills .skills-details {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills-details .text {
        width: 100%;
        margin-bottom: 50px;
    }
    .skills-details .boxes {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .skills-details .boxes .box {
        margin: 20px 0;
        width: 100%;
    }
    .contact .text {
        width: 100%;
    }
    .carousel {
        width: 100%;
        height: 75vh;
    }
    .carousel__section {
        padding: 0.25rem;
    }
    .carousel__button--left {
        left: 0;
        z-index: 2;
    }
    .carousel__button--right {
        right: 0;
    }
    .home {
        background-size: 250px;
        background-position: bottom right;
    }
    .home .home-content .text {
        width: 100%;
    }
    .home .text-two {
        font-size: 55px;
    }
    .home .text-three {
        font-size: 33px;
    }
    .skills-details .boxes .per {
        font-size: 50px;
        color: #4070f4;
    }
    .buttons {
        flex-direction: column;
    }
}

@media (max-width: 500px) {}


/* hotfix */

.fa-phone {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}